

    <div class="main_body" id="main_body">
        <div class="breadcrub">
            当前位置：文章管理>文章列表
        </div>
        <div class="pannel">
            <span class="sel_label">请选择文章分类：</span>
            <form method="get" action="/article/articleList" class="form">
                <select name="select" id="select" class="sel_opt">
                    {{range .articleTypes}}
                        <option {{if compare $.typeName .TypeName}} selected="true"{{else}} {{end}}>{{.TypeName}}</option>
                    {{end}}
                </select>
            </form>
            <table class="common_table">
                <tr>
                    <th width="43%">文章标题</th>
                    <th width="10%">文章内容</th>
                    <th width="16%">添加时间</th>
                    <th width="7%">阅读量</th>
                    <th width="7%">删除</th>
                    <th width="7%">编辑</th>
                    <th width="10%">文章类型</th>
                </tr>

            {{range $index,$article := .articles}}
                <tr>
                    <td>{{$article.Title}}</td>
                    <td><a href="/article/articleDetail?id={{$article.Id}}">查看详情</a></td>
                    <td> {{$article.Time.Format "2006-01-02-15:04:05"}}</td>
                    <td>{{$article.ReadCount}}</td>
                    <td><a href="/article/deleteArticle?id={{$article.Id}}" class="dels">删除</a></td>
                    <td><a href="/article/updateArticle?id={{$article.Id}}">编辑</a></td>
                    <td>{{$article.ArticleType.TypeName}}</td>
                </tr>
            {{end}}
            </table>

            <ul class="pagenation">
                <li><a href="/article/articleList?pageIndex=1&select={{.typeName}}">首页</a></li>
                <li><a href="/article/articleList?pageIndex={{.pageIndex | PrePage}}&select={{.typeName}}">上一页 </a> </li>
                <li> <a href="/article/articleList?pageIndex={{NextPage .pageIndex .pageCount}}&select={{.typeName}}">下一页</a></li>
                <li><a href="/article/articleList?pageIndex={{.pageCount}}&select={{.typeName}}">末页</a></li>
                <li>共{{.count}}条记录/共{{.pageCount}}页/当前{{.pageIndex}}页</li>
            </ul>
        </div>
    </div>
{{.errmsg}}
<script type="text/javascript">
    $("#select").change(function () {
        $(".form").submit()
    })
</script>

